<p>You have been napping since {{format-timestamp timezone startAt}}.</p>
<div class="row">
  <div class="small-6 columns">
    <button class="button small" {{action "didAwaken"}}>Awaken</button>
  </div>
  <div class="small-6 columns">
    <button class="button small secondary" {{action "didCancel"}}>Cancel</button>
  </div>
</div>
