{{outlet}}
<div class="">
<ul>
<li>
{{#link-to 'home' class="button"}}
  App
{{/link-to}}
</li>
<li>
{{#link-to 'analytics' class="button"}}
  Analytics
{{/link-to}}
</li>
<li>
{{#link-to 'settings' class="button"}}
  Settings
{{/link-to}}
</li>
</ul>
</div>

