<div class="expanded row">
  {{outlet}}
</div>
<div class="expanded row">
  <div class="small-12 columns">
    <ul class="menu">
      <li>
        {{#link-to 'index'}}
          app
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'analytics'}}
          analytics
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'settings'}}
          settings
        {{/link-to}}
      </li>
    </ul>
  </div>
</div>
